#__next {
    min-height: 100vh;
    background-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

select {
    background-color: transparent;
}
select > option {
    background-color: #4A525C;
}